    .homeImage {
        background-image: url(../../images/happy2.jpg);
        background-position: 160% 120%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: center;
    }
    
    .headText {
        background-image: url(../../images/header-bg.svg);
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        bottom: 0;
        height: calc(100% + 1px);
        width: 65%;
        background-size: cover;
        background-position: center right;
        background-repeat: no-repeat;
    }
    
    .fotterCardImage {
        background-image: url(../../images/woman-using-computer.webp);
        height: 250px;
        background-repeat: no-repeat;
    }
    
    .fotterCardText {
        background-image: url(../../images/header-bg-Cop.svg);
        background-repeat: no-repeat;
        background-position: 554px 130px;
        position: relative;
        height: 250px;
    }